{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container" align="center">

    <div class="column">
        <h1 style="color: darkcyan;">Cereals and Pulses</h1>
        <form action="/itemForm" method="POST">
            {% csrf_token %}
            <div class="card" style="width: 30%;">
                {% for item in item_list %}
                <div class="col s3">
                    <p class="range-field">
                        <a style="font-size: medium;">{{item.itemName}}</a>
                        0<input type="range" value="0" id="{{item.itemName}}" name="{{item.itemName}}" min="0" max="5" style="width: 100px;"/>5
                    </p>    
                </div>
                {% endfor %}
    
            </div>
            <input type="hidden" name="type" value="Cereals">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>       

    </div>
</div>
{% endblock %}