<!DOCTYPE html>

<html>
    <head>
        <title>Items List</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        
    </head>
 
    <body>
        <div class="container" align="center">
            <h1 style="color: darkcyan;">Retailer</h1>
            <h4>Select one of the following Retailers from which you would like to order.</h4>
            <div class="row">
                    <div class="card col s6">
                        <a class="carousel-item" href="amazon" style="font-size: large;" align="center"><img src="/static/images/amazon.png" style="width:256px;height:256px;">Amazon</a>

                    </div>
                    <div class="card col s6">
                        <a class="carousel-item" href="flipkart" align="center"><img src="/static/images/flipkart.png" style="width:256px;height:256px;">Flipkart</a>

                    </div>
            </div>
            
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.carousel');
                var instances = M.Carousel.init(elems, options);
            });

            // Or with jQuery

            $(document).ready(function(){
                $('.carousel').carousel();
            });
                
        </script>
    </body>
</html>