<!DOCTYPE html>

<html>
    <head>
        <title>Items List</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        
    </head>
 
    <body>
        <div class="container" align="center">
            <h1 style="color: darkcyan;">Choose the Department</h1>
            <div class="row">
                
                <div class="col s3">
                    <a class="carousel-item" href="dairy" style="font-size: large;"><img src="/static/images/dairy.jpg" style="width:256px;height:256px;">Milk</a>
                </div>
                <div class="col s3">
                    <a class="carousel-item" href="cereals_and_pulses" style="font-size: large;"><img src="/static/images/cereals_and_pulses.png" style="width:256px;height:256px;">Cereals And Pulses</a>
                </div>
                <div class="col s3">
                    <a class="carousel-item" href="medicine" style="font-size: large;"><img src="/static/images/medicine.png" style="width:256px;height:256px;">Medicine</a>
                </div>
                <div class="col s3">
                    <a class="carousel-item" href="fruits_and_veg" style="font-size: large;"><img src="/static/images/fruits_and_veg.png" style="width:256px;height:256px;">Fruits and Vegetables</a>
                </div>
            </div>
            
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.carousel');
                var instances = M.Carousel.init(elems, options);
            });

        
        </script>
    </body>
</html>