<!DOCTYPE html>

<html>
    <head>
        <title>Items List</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        
    </head>
 
    <body>
        <div class="container" align="center">
            <h1>Choose the Department</h1>
            <div class="row">
                <div class="col s3">
                    <a class="carousel-item" href="dairy"><img src="/static/images/dairy.png" style="width:256px;height:256px;"></a>
                </div>
                <div class="col s3">
                    <a class="carousel-item" href="cereals_and_pulses"><img src="/static/images/cereals_and_pulses.png" style="width:256px;height:256px;"></a>
                </div>
                <div class="col s3">
                    <a class="carousel-item" href="medicine"><img src="/static/images/medicine.png" style="width:256px;height:256px;"></a>
                </div>
                <div class="col s3">
                    <a class="carousel-item" href="fruits_and_veg"><img src="/static/images/fruits_and_veg.png" style="width:256px;height:256px;"></a>
                </div>
            </div>
            
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.carousel');
                var instances = M.Carousel.init(elems, options);
            });

            // Or with jQuery

            $(document).ready(function(){
                $('.carousel').carousel();
            });
                
        </script>
    </body>
</html>